@model TE29_HeartHealth_GCardiac.Models.PreferenceViewModels

@{
    ViewBag.Title = "AIAdvice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AIAdvice</h2>
<h4>PreferenceViewModels</h4>
<hr />
@*@section css{
        <style>
            body {
                background-image: url("../../img/advice_background.jpg");
                background-size: cover;
            }
        </style>
    }*@
@*<p>Please input some detail about you and lets get your personal unique recommendations!</p>
*@

<div style="float:left; width:30%">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.Sports, htmlAttributes: new { @class = "control-label row" })
                <div class="checkbox">
                    <div class="row">
                        @Html.RadioButtonFor(model => model.Sports, "All", new { @id = "TypeAll", @name = "SportType", @Checked = "checked" })All
                    </div>
                    <div class="row">
                        @Html.RadioButtonFor(model => model.Sports, "Running", new { @id = "TypeRunning", @name = "SportType" })Running
                    </div>
                    <div class="row">
                        @Html.RadioButtonFor(model => model.Sports, "Walking", new { @id = "TypeWalking", @name = "SportType" })Walking
                    </div>
                    <div class="row">
                        @Html.RadioButtonFor(model => model.Sports, "Bicycle", new { @id = "TypeBicycle", @name = "SportType" })Bicycle
                    </div>
                    <div class="row">
                        @Html.RadioButtonFor(model => model.Sports, "Jump", new { @id = "TypeJump", @name = "SportType" })Jump Rope
                    </div>
                    <div class="row">
                        @Html.RadioButtonFor(model => model.Sports, "Aquatics", new { @id = "TypeAquatics", @name = "SportType" })Aquatics
                    </div>
                    <div class="row">
                        @Html.RadioButtonFor(model => model.Sports, "Seaside", new { @id = "TypeSeaside", @name = "SportType" })Seaside Activity
                    </div>
                    <div class="row">
                        @Html.RadioButtonFor(model => model.Sports, "Ball", new { @id = "TypeBall", @name = "SportType" })Ball
                    </div>
                    <div class="row">
                        @Html.RadioButtonFor(model => model.Sports, "Taichi", new { @id = "TypeTaichi", @name = "SportType" })Taichi
                    </div>
                    <div class="row">
                        @Html.RadioButtonFor(model => model.Sports, "Aerobics", new { @id = "TypeAerobics", @name = "SportType" })Aerobics
                    </div>
                    <div class="row">
                        @Html.RadioButtonFor(model => model.Sports, "Family", new { @id = "TypeFamily", @name = "SportType" })Family Activity
                    </div>
                    @Html.ValidationMessageFor(model => model.Sports, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Strength, htmlAttributes: new { @class = "control-label row" })
                <div class="checkbox">
                    <div class="row">
                        @Html.RadioButtonFor(model => model.Strength, "0", new { @id = "Strength0", @name = "Strength", @Checked = "checked" })All
                    </div>
                    <div class="row">
                        @Html.RadioButtonFor(model => model.Strength, "1", new { @id = "Strength1", @name = "Strength" })Simple
                    </div>
                    <div class="row">
                        @Html.RadioButtonFor(model => model.Strength, "2", new { @id = "Strength2", @name = "Strength" })Normal
                    </div>
                    <div class="row">
                        @Html.RadioButtonFor(model => model.Strength, "3", new { @id = "Strength3", @name = "Strength" })Hard
                    </div>
                    @Html.ValidationMessageFor(model => model.Strength, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>

<div style="float:left; width:70%">
    @if(Model.exercise == null) { 
        @*<p style="font-size:30px;color:red">没东西，在左边选点别的</p>*@
    } else {
        <table class="table">
            <tr>
                <th>
                    Exercise
                </th>
                <th>
                    Carlory
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model.exercise) { 
                <tr>
                    <td>
                        @item.Exercises
                    </td>
                    <td>
                        @item.Calories
                    </td>
                    <td>
                        @Html.CheckBox(item.Exercises, false)
                    </td>
                </tr>
            }
        </table>
        
    }
</div>
