@model TE29_HeartHealth_GCardiac.Models.PreferenceViewModels

@{
    ViewBag.Title = "AIAdvice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AIAdvice</h2>
<h4>PreferenceViewModels</h4>
<hr />
@*@section css{
        <style>
            body {
                background-image: url("../../img/advice_background.jpg");
                background-size: cover;
            }
        </style>
    }*@
@*<p>Please input some detail about you and lets get your personal unique recommendations!</p>
*@

<div style="float:left; width:30%">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.MedicalConditions, htmlAttributes: new { @class = "control-label row" })
                <div class="checkbox">
                    <div class="row">
                        @Html.RadioButtonFor(model => model.MedicalConditions, 0, new { @id = "StatuesRadio0", @name = "Status", @Checked = "checked" })Yes
                    </div>
                    <div class="row">
                        @Html.RadioButtonFor(model => model.MedicalConditions, 1, new { @id = "StatuesRadio1", @name = "Status" })No
                    </div>
                    @Html.ValidationMessageFor(model => model.MedicalConditions, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Sports, htmlAttributes: new { @class = "control-label row" })
                <div class="checkbox">
                    <div class="row">
                        @Html.RadioButtonFor(model => model.Sports, 0, new { @id = "TypeAquatics", @name = "SportType", @Checked = "checked" })Aquatics
                    </div>
                    <div class="row">
                        @Html.RadioButtonFor(model => model.Sports, 1, new { @id = "TypeNormal", @name = "SportType" })Normal
                    </div>
                    @Html.ValidationMessageFor(model => model.Sports, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Strength, htmlAttributes: new { @class = "control-label row" })
                <div class="checkbox">
                    <div class="row">
                        @Html.RadioButtonFor(model => model.Strength, 0, new { @id = "Strength0", @name = "Strength", @Checked = "checked" })Hard
                    </div>
                    <div class="row">
                        @Html.RadioButtonFor(model => model.Strength, 1, new { @id = "Strength1", @name = "Strength" })Normal
                    </div>
                    <div class="row">
                        @Html.RadioButtonFor(model => model.Strength, 2, new { @id = "Strength2", @name = "Strength" })Simple
                    </div>
                    @Html.ValidationMessageFor(model => model.Strength, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>

<div style="float:left; width:70%">
    <p style="font-size:30px;color:red">Temporary unrealized</p>
</div>